/*========================
GLOBAL
=========================*/
h1 {
    font-size: 37px;
    font-weight: 900;
    width: 414px;
    letter-spacing: 0.040em;
    border: 1px solid rgba(47, 46, 47, 0.59);
}
.navactive{
   border-bottom: 1px solid #fdbd1f;
}
p.desc-text{
    font-size: 20px;
    line-height: 35px;
    text-align: justify;
}
.text-content.container {
    margin-top: 65px;
    margin-bottom: -51px;
}
.right-text p{
    text-align: left !important;
    border-bottom: 1px solid;
    padding: 10px 0;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;  
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}
.img-section-space {
    margin-top: 5px;
}
.fa-2x{
    padding-top: 5px;
}


.carousel-slide{
    float: right !important;
    margin-right: -15px;
} 

li.mix{
    position: relative; 
    width: 100%; /* for IE 6 */

    background: #fdbd1f;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.clear::after {
    content: "";
    display: table;
    clear: both;
}

h1, h2, p, span, a {
    font-family: "museo-sans", helvetica, sans-serif;
    color: #2f2e2f;
    margin: 0;
    padding: 0;
}

.limit {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.color_animation {
    text-decoration: initial;
    /* word-spacing: 5px; */
    margin-right: -30px;
    margin-left: -30px;
    color: white !important;
    -webkit-transition: color 0.3s ease-out;
    -moz-transition: color 0.3s ease-in-out;
    -o-transition: color 0.3s ease-in-out;
    -ms-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
}
.color_animation:hover{
    color: #fdbd1f;
    /* text-decoration: none; */
}
.img-social{
    width: 50px;
}
.img-social:hover{
    border: 5px solid #fdbd1f;
    border-radius: 25px;
}
/*========================
    NAV
=========================*/
div#bs-example-navbar-collapse-1 {
    height: 368px;
    overflow: hidden;
    text-align: center;
    text-decoration: none !important;
    background-color: #0c0c0b;
}
.navbar-brand{
    font-family: 'Pacifico', cursive;
    font-size: 34px !important;
    text-decoration: none;
    color: white !important;
}

nav {
    background: #0c0c0b !important;
    font-size: 16px;
    color: white !important;
}

li{
    color: white !important;
    /*padding-left: 10px;*/
    word-spacing: 5px !important;
}
.navbar-nav>li:last-child a{
    padding-top: 10px;
    padding-bottom: 10px;
}
.container.top-navigation{
    margin-right: 10px;
    margin-left: 10px;
}
/*========================
INTRO CONTAINER
=========================*/
.starter_container {
    margin-top: -21px;
    padding: 0;
    min-width: 100%;
    height: 100%;
    background: url('../images/steak.jpg') no-repeat center center;
    background-size: cover;
    text-align: center;
    background-position: center;  
}
.follow_container {
    width: 100%;
    position: absolute;
    top: 35%;
    text-align: center;
}
.starter_follow {
    display: inline-block;
    width: 80%;
    z-index: 1;
    margin: 0 auto;
    padding: 0;
}
.top-title{
    color: white;
    font-family: 'Playball', cursive;
    font-size: 120px;
    font-weight: 400;
 }
.second-title {
    font-weight: lighter; 
    font-size: 30px; 
    font-style: italic; 
    text-transform: capitalize;
}

.white{
    color: #333333;
}

/* ========================
    IMAGE INTRO BANNER CONTENT
   =========================*/

.background_content {
    position: relative;
    top: 0px;
    width: 100%;
    height: 350px;
    background-color: white;
    margin: 0 auto 0 auto;
    z-index: 98;
    text-align: center;
}

.background_content h1 {
    font-size: 3em;
    width: 60%;
    position: relative;
    top: 24%;
    color: white;
    padding: 0;
    border: 0;
    display: inline-block;
}

.background_content h1 span {
    color: white;
    border-bottom: 8px solid #fff;
}

.drinks.background_content{
    background: url('../images/drinks.jpg') no-repeat center center;
    background-size: cover;
    background-position: 70% 50%;
}

.bread.background_content{
    background: url('../images/bread.jpg') no-repeat center center; 
    background-size: cover;
    background-position: 70% 50%;
}
 .featured.background_content{
    background: url('../images/reservation-table.jpg') no-repeat center center;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
 .pricing.background_content{
    background: url('../images/menu.jpg') no-repeat center center;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.reservation.background_content{
    background: url('../images/reservation-seat.jpg') no-repeat center center; 
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.bread.background_content{
    background: url('../images/breakfast.jpg') no-repeat center center; 
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
/*========================
DESCRIPTION BODY CONTENT
=========================*/
.description_content {
    padding: 50px 0;
    width: 100%;
    background: #fff;
    margin: 0 auto 0 auto;
    z-index: 99;
    position: relative;
    background: white;
    text-align: center; 
}
.description_body {
    margin: 45px auto;
    max-width: 300px;
}
h1 {
    font-size: 28px;
    font-weight: 900;
    width: 225px;
    letter-spacing: 0.040em;
    border: 8px solid #2f2e2f;
    display: inline-block;
    padding: 7px 16px;
    margin: 0;
}
/*========================
IMAGE DESCRIPTION BODY CONTENT
=========================*/
.picture_content {
    display: none;
}
/*========================
ICONS
=========================*/
.title-icons{
    /*background-repeat: no-repeat;*/
    /*background-position: center center;*/
    /*background-size: cover;*/
    /*background-position: 70% 50%;*/
    /*max-width: 100%;*/
    /*height: auto;*/
    /*display: block;*/
    /*width: 100%;*/
    /*height: auto;*/
    height: 150px;
    width: 150px;
    padding: 20px 0 20px 0;
}
.title-icons:hover{
    height: 150px;
    width: 150px;
    padding: 20px 0 20px 0;
}
.title-icons-about{
    background: url("../images/cutlery.svg");
    display: block;
    height: 150px;
    width: 150px;
    padding: 20px 0 20px 0;
}
.title-icons-about:hover{
    background: url("../images/cutlery_2.svg");
    display: block;
    height: 140px;
    width: 150px;
    padding: 20px 0 20px 0;
}
.text-title{
    background-color: #ffd05b;
    border-radius: 15px;
}
hr.line-hour{
    margin: 7px 0 7px 0;
}
.clock-icons{
    height: 20px;
    width: 20px;
}
input:invalid+span:after {
    position: absolute; content: '✖';
    padding-left: 5px;
    color: #8b0000;
}

input:valid+span:after {
    position: absolute;
    content: '✓';
    padding-left: 5px;
    color: #009000;
}

/*========================
STYLES FOR ANIMATED MODAL
=========================*/

/* Start state */
.animated-modal {
    max-width: 690px;
    border-radius: 4px;
    overflow: hidden;
    
    transform: translateY(-50px);
    transition: all .7s;
  }
  
  .animated-modal h2,
  .animated-modal p {
    transform: translateY(-50px);
    opacity: 0;
    
    transition-property: transform, opacity;
    transition-duration: .4s;
  }
  
  /* Final state */
  .fancybox-slide--current .animated-modal,
  .fancybox-slide--current .animated-modal h2,
  .fancybox-slide--current .animated-modal p {
    transform: translateY(0);
    opacity: 1;
  }
  
  /* Reveal content with different delays */
  .fancybox-slide--current .animated-modal h2 {
    transition-delay: .1s;
  }
  
  .fancybox-slide--current .animated-modal p {
    transition-delay: .3s;
  }
.big-img{
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
p.modal-menu-title{
    color: #fdbd1f;
    font-size: 25px;
    text-align: center;
    margin: 5px 0 5px 0;
}
p.modal-menu-description{
    font-weight: 600;
}
/*========================
FIRST FOOTER CONTENT
=========================*/
.first_footer {
    background-color: #0c0c0b;
    text-align: center;
}
.social_heading,
.social_info {
    display: block;
}
.social_heading {
    font-size: 28px;
    font-weight: 900;
    letter-spacing: 0.040em;
    color: #fdbd1f;
    text-align: center;
    margin: 40px 0 0 0;
}
.social_info, 
.social_icons {
    margin: 18px 0 18px 0;
}

.social_info a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.200em;
    line-height: 1.400em;
    color: #fff;
    display: inline-block;
    margin: 0 auto;
    width: 210px;
}

.social_info a:hover {
    color: #fdbd1f;
}

.social_icons {
    padding: 0;
}

.social_icons li {
    list-style: none;
    display: inline-block;
    padding: none;
}

.social_icons li:nth-child(1),
.social_icons li:nth-child(2),
.social_icons li:nth-child(3) {
    margin: 0 50px 0 0;
}
.social_icons li a {
    color: #fff;
    text-decoration: none;
    font-size: 25px;
}

.social_icons li a:hover {
    color: #fdbd1f;
}

.direction a{
    color: white !important;
}

/*========================
SECOND FOOTER CONTENT
=========================*/

footer.sub_footer {
    background: #948E99;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2E1437, #948E99);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2E1437, #948E99); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    padding: 20px;
}

p.sub-footer-text{
    color: #fdbd1f;
}

p.sub-footer-text a{
    color: #BDBDBD;
    text-decoration: none;
}
.svg-footer{
    width: 30px;
    text-decoration: none;
}
/*Contact */

.contact-text{
    margin:45px auto;
}
/* Contact Form */
#contact .contact-form{
    margin: 0 auto;
    padding:25px 25px 0px 25px;
    /* box-shadow: 0px 1px 4px rgba(0,0,0, 0.2); */
}

.mail-message-area{
    width:100%;
    padding:0 15px;
}

.mail-message{
    width: 100%;
    background:rgba(255,255,255, 0.8) !important;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    transition: all 0.7s;
    margin:0 auto;
    border-radius: 0;
}

.not-visible-message{
    height:0px;
    opacity: 0;
}

.visible-message{
    height:auto;
    opacity: 1;
    margin:25px auto 0;
}

.inner.contact {
    padding: 50px 0;
}

/* Input Styles */

.form{
    width: 100%;
    padding: 16.94px;
    /* background:#E2E2E2; */
    border: 1px solid rgba(13, 12, 12, 0.23);
    margin-bottom:25px;
    color:#727272 !important;
    font-size:13px;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.form:hover{
    border:1px solid #8BC3A3;
}

.form:focus{
    color: white;
    outline: none;
    border:1px solid #fdbd1f;
}

.textarea{
    height: 200px;
    max-height: 200px;
    max-width: 100%;
} 
/* Generic Button Styles */
.button{
    padding:8px 12px;
    background:#0A5175;
    display: block;
    width:120px;
    margin:10px 0 0px 0;
    border-radius:3px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    text-align:center;
    font-size:0.8em;
    box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    -moz-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    -webkit-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
}

.button:hover{
    background:#fdbd1f;
    color:white;
}

/* Send Button Styles */

.form-btn{
    width:180px;
    display: block;
    float: right;
    height: auto;
    padding:15px;
    color:#fff;
    background: #fdbd1f;
    border:none;
    border-radius:3px;
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    margin: 0 auto !important;
    box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    -moz-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    -webkit-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    text-align: center;
}
.form-btn:hover{
    background: #fdbd1f;
    color: white;
    border:none;
}

.form-btn:active{
    opacity: 0.9;
}

div.fa {
    display: block;
    padding: 30px 0px 25px 0px;
}

div .fa-2x {
    padding: 30px 0px 25px 0px;
}

h1 {
    text-transform: capitalize;
}
.navbar-default {
    border: 0 !important;
}

/*========================
MEDIA QUERIES MOBILE
=========================*/

@media (max-width: 660px) {
    .top-title {
        font-size: 67px;
    }

    .second-title {
        font-size: 21px;
    }

    .background_content h1 {
        width: 80%;
        font-size: 2.5em;
    }

    .form-btn {
        margin: 0px auto;
        /* display: block; */
    }
}
@media (max-width: 767px){
    img#cart{
        width: 30px;
    }
    .container.top-navigation {
        margin: 0;
    }
}
/*========================
MEDIA QUERIES TABLET
=========================*/


    @media (min-width: 400px) { 
    .starter_container {
        height: 100%;
    }
    .background_content h1 {
      top: 33%;
    }  
}

/*========================
MEDIA QUERIES TABLET
=========================*/

    @media (min-width: 660px) { 
  
        .starter_container {
            height: 100%;
        }

    /*========================
    NAV
    =========================*/
    .navbar-default{
        height: 70px;
        padding-top: 10px;
    }

    nav li{
        padding-right: -15px;
    }
    .navbar-brand{
        font-family: 'Pacifico', cursive;
        font-size: 25px !important;
        text-decoration: none;
        color: white !important;
    }
    nav {
        position: fixed;
        display: block;
        position: fixed;
        width: 100%;
        height: 55px;
        z-index: 100;
        margin: 0;
        padding: 0;
        background-color: #0c0c0b;
        text-align: center;
    }
    .logo {
        display: none;
    }
    .main-nav {
        padding: 0;
        margin: 18px auto 0 auto;
    }
    .main-nav li {
        display: inline-block;
        list-style: none;
        margin: 0 22px 0 22px;
    }
    .logo a,
    .main-nav a {
        font-size: 0.75000em;
        font-weight: 700;
        /* letter-spacing: 0.250em; */
        text-decoration: none;
        color: #fff;
        display: block;
        text-align: center;
        padding: 2px 0;
        transition: color 0.3s ease-in-out;
    }
    .main-nav a:hover {
        color: #fdbd1f;
    }
    .direction a {
        border: 5px solid rgba(0,0,0,0);
        display: inline-block;
        width: 45px;
        height: 45px;  
        background-size: 30px; 
    }
    .direction a:hover {
        border: 5px solid #fdbd1f;
    }

    /*========================
    DESCRIPTION BODY CONTENT
    =========================*/

    .description_body {
        margin: 45px auto;
        max-width: 500px;
    }
    h1 {
        font-size: 32px;
        font-weight: 900;
        width: 280px;
        letter-spacing: 0.040em;
        border: 1px solid #2f2e2f;
    }
    .picture_content {
        display: inline-block;
        padding: 0 20px;
    }

    /*========================
    IMAGE INTRO BANNER CONTENT
    =========================*/

    .background_content {
        position: relative;
        top: 0px;
        width: 100%;
        height: 570px;
        background-color: white;
        margin: 0 auto 0 auto;
        z-index: 98;
        text-align: center;
    }

    .background_content h1 {
        font-size: 4.5em;
        position: relative;
        top: 41%;
        width: 100%;
        color: white;
        padding: 0;
        border: 0;
        display: inline-block;
    }

    .background_content h1 span {
        color: white;
        padding: 0;
        border-bottom: 10px solid #fff;
    }
}
    /*========================
    Social Connect
    =========================*/

    section.social_connect {
        background: #948E99;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #2E1437, #948E99);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #2E1437, #948E99); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

        text-align: center;
        margin-bottom: 50px;
  }

    .social_heading {
        font-size: 33px;
        margin: 50px 0 0 0;
    }

    .social_info a {
        font-size: 24.93px;
    }

    .social_icons li a {
        font-size: 30px;
    }

    .social_info a {
        display: inline-block;
        margin: 0 auto;
        width: 325px;
    } 

 /*END OF MEDIA QUERY*/

/*========================
MEDIA QUERIE DESKTOP
=========================*/

@media (min-width: 1100px) { 

    .starter_container {
        background-attachment: fixed;
    }


    /*========================
    BACKGROUND CONTENT
    =========================*/


    .background_content h1 {
        font-size: 5em;
        position: relative;
        top: 41%;
        width: 100%;
        color: white;
        padding: 0;
        border: 0;
        display: inline-block;
        margin-top: 20px;
    }

    .background_content h1 span {
        color: white;
        padding: 0;
        border-bottom: 12px solid #fff;
    }

    /*========================
    DESCRIPTION BODY CONTENT
    =========================*/

    .margin-right {
        margin-right: 5%;
    }

    .margin-left {
        margin-left: 5%;
    }

    .background_content:nth-of-type(2),
    .background_content:nth-of-type(4) {
        background-attachment: fixed;
    }

    .description_body {
        max-width: 450px;
        display: inline-block;
        vertical-align: middle;
        margin: 0;
        margin-top: 10px;
    }


    .picture_content {
        display: inline-block;
        padding: 0;
        vertical-align: middle;
    }

    /*========================
    FIRST FOOTER CONTENT
    =========================*/

    .social_heading {
        font-size: 33px;
        margin: 50px 0 0 0;
    }

    .come_in .social_info a {
        font-size: 24.93px;
        display: inline-block;
        margin: 0 auto;
        width: 565px;
    }

    .come_in .social_info {
        margin-bottom: 25px;
    }

    .or_call .social_info a {
        font-size: 24.93px;
        display: inline-block;
        margin: 0 auto;
        width: auto;
    }

    .social_icons li a {
        font-size: 30px;
    }
}